@page
@model LowFlix.Pages.Bookings.EditModel
@{
    ViewData["Title"] = "Info";
}

<h1>@ViewData["Title"] Booking</h1>

<div>
    <div>
        <form method="post">
            <div class="formGroup">
                <label>Customer</label>
                <label class="inputField">@Model.Customer.FirstName</label>
            </div>
            <div class="formGroup">
                <label asp-for="Booking.RentalDate"></label>
                <label class="inputField">@Model.Booking.RentalDate</label>
            </div>
            
            <h2>borrowed films</h2>

            @foreach(var filmcopy in Model.FilmList)
            {
                <div class="formGroup">
                    <label>@filmcopy.FilmTitle</label>
                    <label class="inputField">@filmcopy.FilmNumber</label>
                </div>
            }
           
            
            <div class="buttonGroup">
                <input asp-for="Booking.BookingId" type="hidden" />
                
                <a asp-page="Index" class="btn secondaryButton">Back</a>
            </div>
        </form>
    </div>
</div>

<script>
    
    const filmSelector = document.getElementById('FilmSelector');
    const filmCopySelector = document.getElementById('FilmCopySelector');

    const originalFilmCopyId = document.getElementById('originalFilmCopyId');
    const originalFilmNumber = document.getElementById('originalFilmNumber');
    const originalFilmId = document.getElementById('originalFilmId');

    var filmData = [];
    
    filmSelector.addEventListener("change", function () {



        filmCopySelector.innerHTML = '';

        filmData.forEach(option => {

            if (option.filmId == filmSelector.value.toLowerCase()) {

                filmCopySelector.innerHTML += `<option value="${option.filmCopyId}">${option.filmNumber}</option>`;
            }

        });


    });
    

    document.addEventListener("DOMContentLoaded", function () {

        fetchressources();

    });



    function fetchressources() {
        fetch('/Bookings/Create?handler=FilmCopyList')
            .then(response => response.json())
            .then(data => {

                filmData.push(...data);
                console.log(data);

                var oldFilmCopy = {
                    filmCopyId: originalFilmCopyId.value,
                    filmId: originalFilmId.value,
                    filmNumber: parseInt(originalFilmNumber.value, 10),
                    isAvailable: true,
                    
                };

                
                filmData.push(oldFilmCopy);

                console.log(filmData);

                // fill options
                
                filmCopySelector.innerHTML = '';

                filmData.forEach(option => {

                    if (option.filmId == filmSelector.value.toLowerCase()) {

                        filmCopySelector.innerHTML += `<option value="${option.filmCopyId}">${option.filmNumber}</option>`;
                    }

                });

                
                



            })
            .catch(error => console.error('Error:', error));


    }

</script>
