@page
@model LowFlix.Pages.Films.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>@ViewData["Title"] Film</h1>

<div>
    <div>
        <form method="post">
            <div class="formGroup">
                <label asp-for="Film.Title">Title</label>
                <label class="inputField">@Model.Film.Title</label>
            </div>
            <div class="formGroup">
                <label asp-for="Film.Director">Director</label>
                <label class="inputField">@Model.Film.Director</label>
            </div>
            <div class ="formGroup">
                <label asp-for="Film.WatchTimeMinutes">Watchtime (minutes)</label>
                <label class="inputField">@Model.Film.WatchTimeMinutes</label>
            </div>
            <div class="formGroup">
                <label asp-for="Film.Year">Year</label>
                <label class="inputField">@Model.Film.Year</label>
            </div>
            <div class="buttonGroup">
                <input asp-for="Film.FilmId" type="hidden" />
                <input type="submit" value="Delete" class="btn dangerButton" />
                <a asp-page="Index" class="btn secondaryButton">Cancel</a>
            </div>
        </form>
    </div>
</div>
