@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Overdue bookings</h1>

<div class="tableContainer">
    <table>
        <thead>
            <tr>
                <th>
                    Customer Name
                </th>
                
                <th>@Html.DisplayNameFor(model => model.Bookings[0].RentalDate)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model.Bookings)
            {
                <tr class="tableRow">

                    <td>
                        @Html.DisplayFor(modelItem => booking.Customer.FirstName)
                        @Html.DisplayFor(modelItem => booking.Customer.LastName)
                    </td>
                    
                    <td>@Model.getDate(booking.RentalDate)</td>
                    <td>
                        <div>
                            <a class="linkButton" asp-page="./Bookings/Edit" asp-route-id="@booking.BookingId">Edit</a>
                        </div>
                    </td>
                    <td>
                        <div>
                            <a class="linkButton" asp-page="./Bookings/Delete" asp-route-id="@booking.BookingId">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<div class="twoCardSpacingDiv">
    <div class="cardDiv">
        <h1>Start Booking</h1>

        <div>
            <div class="inputFormDiv">
                <form method="post">
                    <div class="formGroup">
                        <label asp-for="Customer.CustomerNumber"></label>
                        <input asp-for="Customer.CustomerNumber" class="inputField" maxlength="10" />
                    </div>
                    <div class="buttonGroup">

                        <button type="submit" class="btn primaryButton">Start</button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="cardDiv">
        <h1>Return Booking</h1>

        <div>
            <div class="inputFormDiv">
                <form method="post">
                    <div class="formGroup">
                        <label asp-for="Customer.FirstName">Customer Number</label>
                        <input asp-for="Customer.FirstName" class="inputField" maxlength="10" />
                    </div>
                    <div class="buttonGroup">
                        <input type="submit" value="Start" class="btn primaryButton" />
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

